<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:if="${employees.size()} >0">All employees</h1>
    <div th:each="employee: ${employees}">
        <tr >

            <td th:text="${employee.id}" />

            <td th:text="${employee.name}" />

            <td th:text="${employee.role}" />

        </tr>
        <br>
    </div>
    <div>
        <p th:unless="${employees.size()} >0">No employees!</p>
    </div>
    <br>
    <a th:href="@{/employeeForm}">Add new employee</a>
</body>
</html>